body {
    margin: 0px;
}

#map {
    height: 100vh;
}

.bg-trans {
    background-color: transparent !important;
}

.navbar-brand, .navbar-text {
    color: #FFFFFF !important;
    font-weight: 600;
    font-size: 15px;
    text-shadow: 1px 1px black;
}

.fas {
    cursor: pointer;
    font-size: 12px;
}

.fa-map:hover {
    color: #909090;
}

.container {
    user-select: none;
}